body {
    background: #EFEFEF
}

header {
    color: #FFF;
    font-family: 'Staatliches', sans-serif;
    font-size: 32px;
    font-style: normal;
}

header p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

label {
    font-family: 'Poppins', sans-serif;
    color: #4E4958;
}

legend {
    font-family: 'Staatliches', sans-serif;
}

body::before {
    content: '';
    width: 100%;
    height: 436px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #535971;
}

header {
    width: 750px;
    padding: 70px 0 50px 0;
    margin: 0 auto;
}

header h1 {
    font-size: 48px;
    margin-bottom: 18px;
}

header p {
    font-size: 20px;
}

form {
    margin-top: 68px;
    border-radius: 20px 20px 0px 0px;
    background: #FFF;

    padding: 64px;
    min-height: 1085px;
    width: 750px;

    gap: 48px;
    margin: 0 auto;
}

fieldset {
    border: none;
}

.fieldset-wrapper {
    padding: 64px 64px 16px 40px
}

fieldset legend
 {
    color: #535971;
    font-size: 24px;

    border-bottom: 1px solid #E6E6F0;
    width: 100%;
    padding-bottom: 16px;
}

.input-wrapper input, 
.input-wrapper textarea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 56px;
    width: 300px;
    margin-top: 8px;

    border-radius: 8px;
    background-color: #E6E6F0;  
    
}

.input-wrapper {
    font-size: 14px;
    padding-left: 40px;
    padding-bottom: 8px;

    color: #ffffff;
    font-size: 14px;
}

.emailesenha
.input-wrapper input, 
.input-wrapper textarea {
    width: 650px;
}

.mentor
.input-wrapper input, 
.input-wrapper textarea {
    width: 650px;
}

.nomeesobrenome {
    display: flex;
}

.col-3
legend {
    border: none;
}

.dasate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data,
.input-wrapper input, 
.input-wrapper textarea {
    display: flex;
    align-items: center;

    border: none;
    
}

.input-wrapper label span:hover {
    color: #6c6a71;
}

.input-wrapper label span {
    margin-left: 5px;
  
    font-size: 14px;
    
    color: #a9a7af;
}

.input-wrapper,
legend {
    padding-top: 20px;
}

footer {
        background: #535971;
        height: 160px;
        width: 650px;
        padding: 64px 64px 16px 75px;
        padding-left: 225px;
        margin-left: 309px;
        border-radius: 0px 0px 20px 20px;
        text-align: center;
        padding-right: 3px;
  }

  footer .button {
    width: 150x;
    border-radius: 20px;
    background: #FF5374;
    border:0;
    padding: 14px 140px;
  
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;

    margin-top: 34px;
    margin-right: 215px;
    margin-bottom: 80px;
  
  
    color: #FFFFFF;
  }
  
  footer .button:hover {
    background: #de506d;
  }